.center{
  width: fit-content;
  margin: 0 auto;
}
.mb-20{
  margin-bottom: 20px;
}

.me-10{
  margin-right: 10px;
}
.btn{
  padding:2px 10px;
  border-radius: 5px;
  border: 1px solid black;
  cursor: pointer;
  transition: 0.7s all;

}

.btn:hover{
  background: black;
  color:white;
}